* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 50%;
  margin-bottom: 15px;
  margin: 0 auto;
 padding: 10px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: black;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid black;
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(71, 18, 18);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width:50%;
  opacity: 0.9;
  margin-left: 260px;
}

.btn:hover {
  opacity: 1;
}